# ==========================================
# Java & Maven
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

# ==========================================
# IDEs & Editor (IntelliJ, Eclipse, NetBeans, VS Code)
# ==========================================
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.vscode/

# ==========================================
# System files & access info
# ==========================================
.DS_Store
Thumbs.db
.env

# ==========================================
# LaTeX temporary files
# ==========================================
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.nlo
*.nls
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv